# ==============================================================================
# GLOBAL MONOREPO ENVIRONMENT VARIABLES
# ==============================================================================
# Variabel di sini akan tersedia secara global di semua shell app.
# Jika nama variabel sama dengan yang ada di .env lokal app, maka lokal yang menang.

VITE_GLOBAL_APP_NAME="Modular SIMRS Ecosystem"
VITE_GLOBAL_API_BASE_URL="https://api.simrs-pusat.com/v1"
VITE_GLOBAL_MAINTENANCE=false
